*{font-family: Arial, Helvetica, sans-serif;}

.page-container{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.top-row {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    padding: 0 20% 0 20%;
    flex-basis: 100%;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-basis: 100%;
    height:fit-content;
    margin: 5px 0px 20px 0px;
}

.header-big-text {
    font-size: 24px;
    color: #f9faf8;
}

.header-small-text{
    display: flex;
    justify-content: space-between;
    width: 200px;
    padding: 10px;
    font-size: 18 px;
    color: #E5E7EB;
    list-style: none;
}

.top-row-lower{
    display:flex;
    align-content: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

.top-row-LL {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    text-align: left;
    gap: 10px;
}

.top-row-LR {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 30px;
}

.middle-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    background-color: #f9faf8;
    padding: 0 20% 0 20%;
    flex-basis: 100%;
}

.middle-row .hero-main-text{
    color: black;
    text-align:justify;
    flex-basis: 100%;

} 

.picture-top-wrapper{
    width: 400px;
    height: auto;
}

.top-row-button{
    background-color: #3882F6;
    color: white;
    font-size: 20px;
    padding: 5px 40px 5px 40px;
    border-radius:10px;
}

.hero-main-text {
    display: flex;
    font-size: 48px;
    font-weight: bolder;
    color:#f9faf8;
    flex-basis: 100%;
}

.secondary-hero-text {
    display: flex;
    flex-basis: 100%;
    color: #E5E7EB;
    width: auto;
}